<h3>Welcome to Blackjack!</h3>
<h3>To start a new game -</h3>
<h3>tell us your name.</h3>

<form action='/new_player' method='post'>
	<input type='text' name="player_name"/>
	<br/>
	<input type="submit" class="btn"/>
</form>